[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
faker = "*"
flask-migrate = "*"
python-slugify = "*"

[packages]
flask = "*"
flask-httpauth = "*"
flask-sqlalchemy = "*"
werkzeug = "*"
pyjwt = "*"
flask-restplus = "*"
itsdangerous = "*"
pymysql = "*"
flask-restful = "*"

[requires]
python_version = "3.7"
